<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); %>

    <body>

        <%- include("./partials/menu.ejs"); %>

        <%- include("./partials/aside.ejs"); %>

        <%- include("./partials/MisPaseos.ejs"); %>

        <%- include("./partials/footer.ejs"); %>

    </body>

</html>