<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); %>

    <body>

        <%- include("./partials/menu1.ejs"); %>

            <%- include("./partials/aside1.ejs"); %>

                <%- include("./partials/MisPaseos1.ejs"); %>

                    <!-- ACA VA EL OTRO MIS PASEOS PERO NO SE COMO XD-->

                    <%- include("./partials/footer.ejs"); %>

    </body>

</html>